
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!--  -->
        <div id="vue-app">
            <div class="header"><h1 align="center">POS SYSTEM</h1></div>
        	<div class="container">
                <div class="pos-items">
                    <div class="search-bar">
                        <input type="text" name="search" id="search" v-model="searchQuery" placeholder="Search Food Items................."/>
                    </div>
                    <div class="items-list">
                        <div class="item" v-for="data in resultQuery" @click="addItems(data.id)">
                            <p>{{data['name']}}</p>
                        </div>
                    </div>
                </div>
                <div class="pos-bill">
                    <div class="bill-header">
                        <h1 align="center">Bill</h1>
                    </div>
                    <div class="bill-area">
                        <table class="table">
                            <tr>
                                <th>S.N</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Amount</th>
                            </tr>
                            <tr v-for="(item,index) in addedItems" >
                                <td>{{index+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.total}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">Total</td>
                                <td>{{subtotal}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">Vat</td>
                                <td><input type="number" name="vat" id="vat" v-model="vat" @keyup="calculateVat()"></td>
                            </tr>
                            <tr>
                                <td colspan="4">Total After Vat</td>
                                <td>{{totalAfterVat}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        	new Vue({
        		el:'#vue-app',
        		data:{
                    searchQuery:'',
        			total:0,
                    subtotal:0,
                    vat:0,
                    totalAfterVat:0,
                    menus : [
                    {id:1,name: "Salad", price:150},
                    {id:2,name: "Sandwich", price: 250},
                    {id:3,name: "Roast chicken", price: 500},
                    {id:4,name: "Hot dog", price: 250},
                    {id:5,name: "Pizza", price: 190},
                    {id:6,name: "Ice cream", price: 80},
                    {id:7,name: "Margarine", price: 750},
                    {id:8,name: "Bacon", price: 320},
                    {id:9,name: "Sour cream", price: 140},
                    {id:10,name: "Ommellete", price: 125},
                    {id:11,name: "Hamburger", price: 375},
                    {id:12,name: "Sausage", price: 355},
                    ],
                    addedItems:[],
        		},
                
                methods:{
                    changeSubtotal:function(){
                        this.subtotal = parseFloat(this.total) + 150;
                    },
                    addItems(id){
                        for (var i = 0; i < this.menus.length; i++){
                        // look for the entry with a matching `code` value
                            if (this.menus[i].id == id){ 
                                var valObj = this.addedItems.filter(function(elem){
                                    if(elem.id == id) return elem.id;
                                });
                                if(valObj.length > 0){
                                    for (var i = 0; i < this.addedItems.length; i++){
                                        if (this.addedItems[i].id == id){
                                            this.addedItems[i].quantity = parseInt(this.addedItems[i].quantity) + 1;
                                            this.addedItems[i].total=this.addedItems[i].quantity * this.addedItems[i].price;
                                            this.calculateTotal(this.addedItems[i].price);
                                        }
                                    }
                                }
                                else{
                                    this.addedItems.push(this.menus[i]);
                                //this.addedItems
                                    this.addedItems[this.addedItems.length - 1].quantity=1;
                                    this.addedItems[this.addedItems.length - 1].total=this.addedItems[this.addedItems.length - 1].quantity * this.addedItems[this.addedItems.length - 1].price;
                                //this.calculateTotal(this.addedItems[this.addedItems.length - 1].total);
                                    this.calculateTotal(this.addedItems[this.addedItems.length - 1].total);
                                }
                                
                            }
                        }
                    },
                    calculateTotal(newTotal){
                        //console.log(this.subtotal);
                            
                                this.subtotal = parseInt(this.subtotal) + parseInt(newTotal);
                                this.calculateVat();
                    },
                    calculateVat(){
                        vat_amount = this.subtotal * parseFloat(this.vat) / 100;
                        this.totalAfterVat = this.subtotal + vat_amount;
                    }

                },
                computed:{
                    grandTotal:function(){
                        this.subtotal = this.total;
                        return this.subtotal;
                    },
                    resultQuery(){
                        return this.menus.filter((menu)=>{
                            return menu.name.toLowerCase().match(this.searchQuery.toLowerCase());
                        })
                        
                    }
                }
        	})
        </script>
    </body>
</html>